.form-Handler {
  padding: 40px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 665px;
  gap: 45px 45px;
}

.patient-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.patient-details input,
.reading-container input,
.dropdown {
  padding: 7px 14px;
  font-size: 16px;
  outline-color: rgb(11, 184, 16);
}

.dropdown {
  box-sizing: content-box;
}

textarea {
  width: 100%;
  height: 93%;
  resize: none;
  padding: 10px 0 0 10px;
  font-size: 16px;

  outline-color: rgb(11, 184, 16);
}

.reading-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.2s all;
}

.pdf-button {
  display: inline-block;
  padding: 12px 30px;
  margin: 10px;
  color: #fff;
  background-color: #ff6347;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.pdf-button:hover {
  background-color: #d74333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
